.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 22px;
  right: 3px;
  color: #fff;
  width: 67px;
  height: 23px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.3s ease;
  z-index: 9999;
  border: 1px solid gray;
  text-align: center;
  border-radius: 3px;
  border: 1px solid black;
}

.scroll-to-top.visible {
  display: flex;
  background: rgb(255, 204, 0);
}

.goUpArrowText {
  color: black;
  font-size: 11px !important;
}
@media only screen and (min-width: 600px) {
  .scroll-to-top {
    bottom: 20px;
    right: 20px;
    width: 85px;
    height: 30px;
    border-radius: 5px;
  }
  .scroll-to-top.visible {
    display: flex;
  }
  .goUpArrow {
  }
  .goUpArrowText {
    font-size: 13px !important;
  }
}
